@Font-face {
    font-family:"pop";
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Oswald:wght@200&family=Poppins:wght@300&display=swap')
    }
* {
    box-sizing: border-box;
    margin: 0;
    font-family: poppins;
}
input {
    border: none;
}
/*-----------------(header part)------------------*/
header {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    margin:0 auto; 
}
header ul {
    display: flex;
    list-style: none;
    padding: 20px;
}
header ul li {
    padding: 15px 30px 19px 29px ;
}
.call-to-action {
    box-sizing: border-box;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px ;
}
ul a{
    text-decoration: none;
    color: black;
    padding: 10px ;
    transition: color .3s ease-in-out ,box-shadow .3s ease-in-out;
    border-radius: 20px;
}
ul a:hover {
    color: #F58A07;
    box-shadow: inset 100px 0 0 0 #54b3d6; ;
}
/* ------------------Section-1-------------- */
.Sec-1 {
    width: 1280px;
    margin: auto;
    display: flex;
    margin-bottom: 128px;
    margin-top: 128px;
}
.Section-1-2-1 {
    background: #F58A07;
    border-radius: 27px;
    color: white;
    padding: 15px 15px;
    width: 140px;
    text-decoration: none;
}
.Sec-1-1 {
    padding: 130px 0px;
    margin-right: 46px;
    align-items: center;
    width: 618px;
}
.S1-2 {
    color: #0D1317;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 24px;
}
.S1-3 {
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 46px;
}
.S1-4 {
    display: flex;
}
.S1-4 img {
    margin-right: 24px;
}
.S1-7 {
    padding: 10px 0px;
}
.S1-5 {
    font-size: 24px;
    color: #063255;
}
.S1-6 {
    color: #F58A07;
}
.colors1 {
    position: relative;
}
.colors1 img {
    position: absolute;
}
.colors11 {
    position: absolute;
    width: 150px;
    height: 101%;
    background-color: #F58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    mix-blend-mode: multiply;
}
/* ------------------Section-2-------------- */
.Sec-2 {
    width: 1280px;
    margin: auto;
    margin-bottom: 128px;
}
.s2 {
    background-color: #dbe8f2;
    padding: 32px 40px;
    border-radius: 20px;
    width: 386px;
    margin: 40px 40px 40px 0px;
}
.s2-1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
}
.s2-2 {
    line-height: 28px;
    color: #394149;
    margin-bottom: 32px;
}
.s2-3 {
    color: #F58A07;
}
.Sec-2-1 {
    display: flex;
    flex-wrap: wrap;
}
/* -------------------Section-8----------------- */
.Sec-8 {
    background-color: #DCEAF5;
}
.Sec-8-1 {
    width: 1280px;
    margin: auto;
    padding: 96px 0;
}
.main-sect {
    width: 735px;
    font-size: 48px;
    color:  #1D3444;
    margin-bottom: 27px;
}
.Section-8-2 {
    display: flex;
}
.Card-8 {
    background-color: white;
    border-radius: 20px;
    margin-right: 40px;
    width: 400px;
}
.C-8 {
    padding: 32px;
}
.Card-8 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-1-1 {
    margin-bottom: 17px;
    font-size: 24px;
    color:  #0D1317;
}
.card-1-2 {
    margin-bottom: 24px;
    color: #5B5B5B;
    line-height: 28px;
}
.card-1-3 {
    color:  #F58A07;
}
/* --------------------Footer---------------------- */
footer {
    background-color: #063255;
    position: relative;
}
.Foot1 {
    width: 1280px;
    margin: auto;
    padding: 80px 0px;
}
.Foot1-1 {
    display: flex;
}
.f5 {
    display: flex;
}
.f1 img {
    margin-bottom: 32px;
}
.f1 p {
    font-size: 36px;
    line-height: 44px;
    color:white;
    width: 351px;
    margin-bottom: 37px;
}
.all-logo {
    margin-bottom: 94px
}
.all-logo img {
    margin-right: 23px;

}
.f2-1 {
    font-size: 18px;
    line-height: 27px;
    color: white;
    margin-bottom: 16px;
}
.f2 {
    margin-left:110px ;
}
.f5 {
    display: flex;
    justify-content: space-between;
    color: white;
}
.f5-1 {
    flex: 1;
}
.f5-2 {
    margin-right: 32px;
}
.color-banner1 {
    position: absolute;
    width: 53px;
    height: 144px;
    background-color: #F58A07;
    left: -0.1%;
    top: 73%;
    border-top-right-radius: 20px;
}
.color-banner2 {
    position: absolute;
    width: 53px;
    height: 287px;
    background-color: #F58A07;
    right: -0%;
    top: 20%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.f4-1 {
    padding: 17px 188px 17px 32px;
    border-radius: 31px;
    margin-bottom: 16px;
}
.f4-2 {
    padding: 18px 32px;
    border-radius: 31px;
    background-color:#F58A07;
    color: white;
}